.caja1{
	font-size:18px;
	background-color:yellow;
	height:100px;
}
.caja2{
	font-size:18px;
	background-color:red;
	height: 100px;
}
.caja3{
	font-size:18px;
	background-color: yellow;
	height: 100px;
}
